html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 12px;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

.nav-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    padding: 24px 0;
}

.navigation {
    display: flex;
    align-items: center;
}

.page-header {
    padding: 16px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 149px; */
}

.nav-item-link.current {
    color: #404bbf;
    position: relative;
}

.nav-item-link::after {
    content: '';
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover::after,
.nav-item-link:focus::after,
.nav-item-link.current::after {
    opacity: 1;
}

.accent-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: none;
}

.nav-list .nav-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
}

.nav-item-link {
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:hover,
.nav-item-link:focus,
.nav-item-link.current {
    color: #404bbf;
}

.contacts {
    font-style: normal;

}

.contacts-list {
    display: none;
}

.contacts-item:not(:last-child) {
    margin-bottom: 12px;
}

.contacts-list .contacts-item-link {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
}

.contacts-item-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
    color: #404bbf;
}

.menu-open-btn {
    background-color: transparent;
    border: none;
}

.menu-open-img {
    fill: "#2F2F37";
}

.mob-menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-exit-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    color: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-item:not(:last-child){
    margin-bottom: 40px;
    margin-top: 48px;
}

.mob-nav-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-nav-item-link:focus,
.mob-nav-item-link.current {
    color: #404bbf;
}

.mob-contacts {
    font-style: normal;
}

.mob-contacts-list {
    margin-top: 168px;
    margin-bottom: 48px;
}

.mob-contacts-item {
    margin-top: 24px;
}

.mob-contacts-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;;
}

.mob-contacts-item-link:focus {
    color: #404bbf;
}

.mob-list-img {
    display: flex;
    justify-content: space-between;
}

.mob-social-item {
    width: 40px;
    height: 40px;
}

.mob-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-img {
    fill: #f4f4fd;
}

.section-title {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 320px;
    margin: auto;

    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-mob-2x.jpg);
    }
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    max-width: 216px;
    margin: 0 auto;

}

.title-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

.section-post-title {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.post-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.post-title-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.post-title-item {
    width: 100%;
}

.post-title-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.post-title-subtitle {
    margin-bottom: 8px;
    text-align: center; 
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
 
/* TEAM */

.section-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-container {
    padding: 0 28px;
}

.team-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-team {
    background-color: #FFFFFF;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.people {
    padding: 32px 16px;
}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-post-title {
    margin-bottom: 72px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-list-img {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-img {
    fill: #f4f4fd;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

/* PORTFOLIO */

.section-portfolio {
    padding: 96px 0;
}

.portfolio-post-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;

}

.portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* FOOTER */

.footer {
    background-color: #2E2F42;
    padding: 96px 0;
}

.footer-contain {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px;
    justify-content: center;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

}

.accent-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 288px;
    text-align: center;
}

.four {
  text-align: left;
}

.five {
   font-weight: 500;
   margin-bottom: 16px;
}

/* .footer-social {
    margin: 0 auto;
} */

.footer-list-img {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    border-radius: 50%;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.footer-social-img {
    fill: #f4f4fd;
}
 
/* FOOTER FORM */

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    width: 288px;
    height: 40px;
    line-height: 2;
    color: #ffffff;
    letter-spacing: 0.04em;
    padding-left: 16px;
    padding-right: 16px;
    outline: transparent;
    caret-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
    transition: 250ms border-color linear;
    
    &::placeholder {
    font: 400 12px / 2 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color #ffffff;
    }
}

.subscribe-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4d5ae5;
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-img {
    fill: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404BBF;
}

.modal-overlay {
   background-color: rgba(46, 47, 66, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    color: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px; 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
    fill: #4d5ae5;
}

.modal-input-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-field {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-contain {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    padding-bottom: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-check-contain {
    margin-bottom: 24px;
}

.modal-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;

    a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
        line-height: 1.33;
    }
}

.modal-check:checked + .modal-check-label > .modal-check-box{
   background-color: #404bbf; 
   border: none;
   fill: #f4f4fd; 
}

.modal-check {
    transition: 250ms border-color linear;
}

.text-privasy {
    text-align: left;
    width: 100%;
    line-height: 1.33;
}

.modal-check-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 8px;
}

.modal-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin: 24px auto 0;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
}

/* MEDIA */

@media screen and (min-width: 768px) {

  .container {
     width: 768px;
     padding-left: 16px;
     padding-right: 16px;
    }

    .page-header {
      padding: 0;
    }

   .nav-list {
       display: flex;
       gap: 40px;
    }

   .nav-logo {
    margin-right: 120px;
    }

   .contacts-list {
    display: contents;
    }

    .menu-open-btn {
        display: none;
    }

   .section-title {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-tab.jpg);
    
    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-tab-2x.jpg);
        }
   }

   .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
   }

   .title-button {
    margin-top: 36px;
   }

    .post-title-list {
     gap: 24px;
     row-gap: 72px;
   }

   .post-title-item {
     width: calc((100% - 24px) / 2);
   }

    .post-title-subtitle {
      text-align: left;
    }

   .team-container {
    padding: 0 108px;
   }

    .team-list {
      gap: 24px;
      row-gap: 64px;
      justify-content: center;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }

    .portfolio-list {
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    .footer-contain {
      padding: 0 108px;
      gap: 24px;
      row-gap: 72px;
      justify-content: flex-start;
    }

    .logo-footer {
    display: inline-block;
    }

    .text-footer {
    text-align: left;
    max-width: 264px;
    }

    .footer-input {
    width: 264px;
    }

    .footer-social {
        margin: unset;
    }

    .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    }
}
   
@media screen and (min-width: 1158px) {

    .container {
    width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    }

    .nav-logo {
    margin-right: 76px;
    }

    .contacts-list {
     display: flex;
     gap: 40px;
    }

    .contacts-list .contacts-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

    .navigation {
        margin-right: auto;
    }

    .contacts-item {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
    }

    .section-title {
      padding: 188px 0;
      max-width: 1440px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title.jpg);
    @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2) {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/title-2x.jpg);
        }
    }

    .title-button {
     margin-top: 48px;
    }

    .section-post-title {
    padding: 120px 0;
    }

    .post-title-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    }

    .post-title-item {
    width: calc((100% - 72px) / 4);
    }

    .post-title-icon {
     display: flex;
    }

    .section-team {
    padding: 120px 0;
}

    .team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
    
    .team-item {
        width: calc((100% - 24px) / 2);
    }

    .subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }

    .text {
      font-weight: 400;
    }

    .section-portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-item:hover .portfolio-img-text {
        transform: translateY(0);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer {
        background-color: #2E2F42;
        padding: 100px 0;
    }

    .footer-contain {
        display: flex;
        flex-wrap: nowrap;
        gap: unset;
    }

    .footer-conteiner {
        display: block;
        margin-right: 120px;
        gap: unset;
    }

    .footer-social {
      margin-right: 80px;
    }

    .footer-form {
        display: flex;
        flex-wrap: nowrap;
    }
}